@use "../../../../../style/utilities/utilities.scss" as *;
.calories_chart_container {
  position: relative;
  h2 {
    display: none;
  }
  .calories_heading {
    @include flex-dir(center, null);

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  .pie_chart {
    width: 86% !important;
    height: 86% !important;
    @include centerAbs();
    @include posAbs(55% !important, null, null, null);
  }

  @include classMatcher("message_spinner") {
    @include centerAbs();
    text-align: center;
    width: 100%;
    a {
      @include button(rgb(127 165 241), 0.5rem, 0.8rem);
      font-size: 1.2rem;
      text-decoration: none;
      color: white;
    }
  }
}

@include smartphone() {
  .calories_chart_container {
    h2 {
      font-size: 1.8rem;
      font-weight: 400;
      display: block;
      text-align: center;
    }
    .calories_heading {
      @include flex-dir(center, null);

      h3 {
        text-align: center;
      }
    }
    .pie_chart {
      width: 70% !important;
      height: 70% !important;

      @include posAbs(60% !important, null, null, null);
    }

    @include classMatcher("message_spinner") {
      @include centerAbs();
      text-align: center;
      width: 100%;
      a {
        @include button(rgb(127 165 241), 0.5rem, 0.8rem);
      }
    }
  }
}
