@use "../../../../../style/utilities/utilities.scss" as *;

.programs_container {
  position: relative;

  @include classMatcher("selectInput_label") {
    @include posAbs(3%, null, 3%, null);
    width: initial;
    max-width: initial;

    label {
      display: none;
    }
    select {
      width: 100%;
    }
  }
}

@include smartphone() {
  .programs_container {
    @include classMatcher("selectInput_label") {
    }
    @include classMatcher(" LoadingSpinner_loading_spinner") {
      @include centerAbs();

      text-align: center;
      a {
        text-decoration: none;
      }
      width: 100%;
    }
  }
}
