@use "../../../../../style/utilities/utilities.scss" as *;
.progress_chart_container {
  position: relative;
}

@include smartphone() {
  .progress_chart_container {
    .progress_chart {
      height: 80%;
      width: 100%;
    }
  }
}
