@use "../../../../../style/utilities/utilities.scss" as *;
.progress_chart_container {
  @include classMatcher("selectInput_label") {
  }
  position: relative;
  padding: 0.5rem;
}

@include smartphone() {
  .progress_chart_container {
    .progress_chart {
      height: 100%;
      width: 100%;
    }
  }
}
