@use "../../../../style/utilities/utilities.scss" as *;
.personal_details {
  @include flex-dir(center, center);
  div[class*="form_container"] {
    width: 90%;

    form[class*="Form_form"] {
      gap: 1.2rem;

      span[class*="AutocompleteInput"] {
        max-width: 33%;
      }
    }
  }
}
