@use "../../../../style/utilities/utilities.scss" as *;
.card_container_personal_details {
  display: flex;
  justify-content: center;
  .personal_details {
    @include flex-dir(center, center);

    div[class*="form_container"] {
      width: 90%;
      gap: 1.2rem;

      form[class*="Form_form"] {
        gap: 1.5rem;
        button {
          width: 30%;
        }
        span[class*="AutocompleteInput"] {
          max-width: 33%;
        }
      }
    }
  }
}

@include smartphone() {
  .card_container_personal_details {
    display: initial;
  }
  .personal_details {
    @include flex-dir(null, null);
    div[class*="form_container"] {
      width: 90%;

      form[class*="Form_form"] {
        gap: 1.2rem;
        button {
          width: 60%;
        }
        span[class*="AutocompleteInput"] {
          max-width: 100%;
        }
      }
    }
  }
}
