@use "../../../style/utilities/utilities.scss" as *;

.misc_page {
  @include flex-dir(null, null, column);

  width: 100%;

  &_links_container {
    width: 98%;
    height: fit-content;
    padding: 0.5rem 0.2rem;
    .misc_page_links {
      @include flex-dir(null, null, column);
      width: 100%;
      .li_link {
        gap: 1rem;

        &:nth-child(2n + 1) {
          background-color: rgb(220, 227, 252);
        }

        a {
          @include flex-dir(space-between, center);
          gap: 1rem;
          width: 100%;
          color: rgb(61 61 144);
          height: 3.5rem;
          font-size: 1.3rem;
          padding: 0rem 2rem 0 2rem;
          text-decoration: none;
          .icon_link {
            font-size: 1.5rem;
            color: rgb(84 118 237);
          }
          &:hover {
            background-color: rgb(175, 200, 248);
          }
        }
      }
    }
  }
}

@include smartphone() {
  @include classMatcher("main_layout") {
    &:has(.misc_page) {
      min-height: initial;
    }
  }
  .misc_page {
    &_links_container {
      margin-top: 0rem;
    }
  }
}
