@use "../../../../../style/utilities/utilities.scss" as *;

@include classMatcher("model") {
  &:has(.allergens_form_container) {
    width: 30vw;
  }
}
.allergens_form_container {
  .reset_button {
    @include posAbs(0%, null, 0%, null);
    color: #4679dc;
    font-size: 2rem;
    cursor: pointer;
  }
  @include classMatcher("GroupInputs_group_inputs_layout") {
    justify-content: center;
    @include classMatcher("InputLabel_wrapper") {
      flex: 30%;
      justify-content: flex-end;
    }
  }
}

@include smartphone() {
  @include classMatcher("model") {
    &:has(.allergens_form_container) {
      width: fit-content;
    }
  }
  .allergens_form_container {
    @include classMatcher("GroupInputs_group_inputs_layout") {
      justify-content: center;
      label[class*="input_label"] {
        &:has(input[type*="checkbox"]) {
          max-width: 29%;
        }
      }
    }
  }
}
