@use "../../../../../../../style/utilities/utilities.scss" as *;

.nutrients_values_form_container {
  max-width: 28rem;

  .reset_button {
    @include posAbs(0%, null, 0%, null);
    color: #4679dc;
    font-size: 2rem;
    cursor: pointer;
  }

  %initial {
    @include initialWidth();
  }
  .inputs_container {
    padding: 0.5rem;
    height: 80%;
    overflow-y: scroll;

    %icon_button {
      font-size: 1.8rem;
      cursor: pointer;
    }
    .inputs_layout {
      height: 30vh;
      li {
        position: relative;
        @include flex-dir(center, null);
        gap: 0.2rem;
        @include classMatcher("selectInput_label") {
          @extend %initial;
          max-width: 50%;
          select {
            @extend %initial;
          }
        }

        @include classMatcher("input_label") {
          @extend %initial;
          max-width: 18%;
          input {
            @extend %initial;
          }
        }

        .delete_button {
          cursor: pointer;
          @include posAbs(45%, null, -2%, null);
          @extend %icon_button;
          color: red;
        }
      }
      .add_button {
        @extend %icon_button;
        margin-top: 0.5rem;
        color: #4679dc;
      }
    }
  }
}

@include smartphone() {
  .nutrients_values_form_container {
    .inputs_container {
      .inputs_layout {
        li {
          @include classMatcher("selectInput_label") {
            max-width: 52%;
            select {
              font-size: 0.9rem;
            }
          }
          @include classMatcher("input_label") {
            input {
              font-size: 0.9rem;
            }
          }

          .delete_button {
            font-size: 1.6rem;
            @include posAbs(46%, null, -5%, null);
          }
          .add_button {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
