@use "../../../../../../../style/utilities/utilities.scss" as *;

.nutrients_values_form_container {
  max-width: 28rem;
  %initial {
    @include initialWidth();
  }
  .inputs_container {
    padding: 0.5rem;
    height: 80%;
    overflow-y: scroll;

    .inputs_layout {
      height: 30vh;
      li {
        position: relative;
        @include flex-dir(center, null);
        gap: 0.2rem;
        @include classMatcher("selectInput_label") {
          @extend %initial;
          max-width: 50%;
          select {
            @extend %initial;
          }
        }

        @include classMatcher("input_label") {
          @extend %initial;
          max-width: 18%;
          input {
            @extend %initial;
          }
        }

        .delete_button {
          @include posAbs(40%, null, -2%, null);
          a {
            color: red;
          }
        }
      }
      @include classMatcher("select_plus_button") {
        position: static;
      }
    }
  }
}

@include smartphone() {
  .nutrients_values_form_container {
    .inputs_container {
      .inputs_layout {
        li {
          @include classMatcher("selectInput_label") {
            max-width: 52%;
            select {
              font-size: 0.9rem;
            }
          }
          @include classMatcher("input_label") {
            input {
              font-size: 0.9rem;
            }
          }
          .delete_button {
            @include posAbs(44%, null, -5%, null);
            z-index: 50;
            a {
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}
