@use "./../../../../style/utilities/utilities.scss" as *;
.model_form_container {
  padding: 0.8rem;
  border-radius: 10px;

  @include classMatcher("Form_form_container") {
    width: 100%;
    h2 {
      font-size: 1.5rem;
    }
    label {
      font-size: 1.1rem;
    }
    form {
      @include flex-dir(center, null, column);
      width: 95%;
      flex-flow: column;
      align-items: initial;
      gap: 0.7rem;

      @include classMatcher("input_label") {
        max-width: 100%;
      }

      column-gap: 0.5rem;
      @include classMatcher("AutocompleteInput_autocomplete_container") {
        max-width: 100%;
      }

      span[class*="checkbox_label"] {
        align-self: center;
      }
    }
    @include classMatcher("Form_buttons_container_two_buttons") {
      a {
        padding: 0.3rem 0.7rem;
      }
      button {
        padding: 0.3rem 0.8rem;
      }
    }
  }
}

@include smartphone() {
  .model_form_container {
    @include classMatcher("Form_form_container") {
      min-height: fit-content;
      height: fit-content;
      form {
      }
      @include classMatcher("Form_buttons_container_two_buttons") {
        a {
          padding: 0.3rem 0.7rem !important;
        }
      }
    }
  }
}
