@import "../../../../style/utilities/utilities.scss";

.sideBar {
  background-color: rgb(25, 71, 154);

  ul {
    margin-top: 1.5rem;
    li:first-child {
      &:has(span[class*="welcome"]) {
        margin-bottom: 1rem;
        a {
          justify-content: center;
        }
      }
    }
    li:nth-child(2) {
      margin-top: 0;
    }

    li:last-child {
      margin-top: 1.5rem;
    }
    li {
      margin-top: 0.5rem;
      @include flex-dir(null, center);
      text-align: center;

      a {
        @include flex-dir(null, center, null);
        padding: 0.8rem 1.5rem;
        text-decoration: none;
        color: white;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        text-align: left;

        .icon {
          font-size: 1.2rem;
          margin: 0 22% 0 0;
        }
        &.isActive,
        &:hover {
          background-color: rgb(92, 133, 209);
        }
      }
    }
  }
}

@include smartphone() {
  .sideBar {
    display: none;
    @include posAbs($HEADER_HEIGHT_SMARTPHONE, 0%, null, null);
    position: fixed;
    @include heightWidth(100%, 100%);
    z-index: 120;
    ul {
      margin-top: 0.5rem;
      li {
        margin-top: initial;
        &:first-child {
          margin-bottom: 0rem;
          a {
            height: 100%;
          }
        }

        &:last-child {
          margin-top: 0rem;
          a {
            border-bottom: none;
          }
        }
        margin-top: 0rem;
        a {
          border-bottom: 1px solid white;
          @include flex-dir(null, center, null);
          font-size: 1.3rem;
          height: 4rem;
          .icon {
            margin: 0 30% 0 0;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  .display_block {
    display: block;
  }
}
