@use "../../../../../style/utilities/utilities.scss" as *;
.overview_container {
  h2 {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
  }
  @include flex-dir(null, null, column);
  gap: 1rem;

  .overview_content {
    @include flex-dir(null, center, column);
    gap: 0.5rem;
    text-align: center;

    :first-child {
      .overview_card_item_value {
        color: rgb(123, 233, 59);
      }
    }

    :last-child {
      .overview_card_item_value {
        color: rgb(233, 59, 62);
      }
    }
    .overview_card_item {
      @include flex-dir(flex-start, null, column);
      width: 100%;
      .overview_card_item_value {
        font-weight: 500;
        font-size: 1.5rem;
      }
      .overview_card_item_text {
        font-size: 1.2rem;
        color: rgb(101, 101, 101);
      }
    }
  }
  a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
  }
}
