@use "../../../../../style/utilities/utilities.scss" as *;

.programs_container {
  padding: 0.5rem;
  position: relative;
  @include classMatcher("selectInput_label") {
    @include posAbs(3%, null, 3%, null);
    width: initial;
    max-width: initial;
    label {
      display: none;
    }
    select {
      width: 100%;
    }
  }
  h2 {
    padding-left: 0.8rem;
    font-weight: 500;
  }
  .programs_list {
    // padding: 0.5rem;
    @include flex-dir(null, null, column);

    gap: 0.3rem;

    & li:nth-child(2n) {
      background-color: rgb(220, 227, 252);
    }
    li {
      @include flex-dir(space-around, null);
      //   gap: 0.3rem 2.5rem;
      padding: 0.5rem;
      .program_detail {
        @include flex-dir(null, center, column);
        gap: 0.2rem;
        :first-child {
          font-weight: 500;
        }
      }
    }
  }
}
