@use "../../../../../../../style/utilities/utilities.scss" as *;

.food_details_container {
  height: fit-content;
  padding: 0.4rem 0.5rem;
  @include flex-dir(null, null, column);
  gap: 0.5rem;
  %shared-bold {
    b {
      font-weight: 600;
    }
  }
  h1 {
    padding: 0 0.5rem;
    font-size: 1.8rem;
  }
  .total_cal {
    font-size: 1rem;
    @extend %shared-bold;
  }
  .nutrients {
    padding: 0.3rem 0.5rem;
    border-top: 1px solid black;
    display: flex;
    .nutrient_details {
      flex: 25%;
      padding: 0.3rem;
      @include flex-dir(center, center, column);
      line-height: 1.4;
      font-size: 0.8rem;
      @extend %shared-bold;
    }
  }

  .button_submit {
    margin-top: 0.2rem;
    align-self: center;
    @include button(rgb(114, 151, 224), 0.4rem);
    color: white;
    font-size: 1.2rem;
  }
}

@include notSmartphone() {
  .food_details_container {
    width: 24rem;
    padding: 0.8rem 0.5rem;
    .total_cal {
      font-size: 1.2rem;
    }
    .nutrients {
      .nutrient_details {
        font-size: 1rem;
      }
    }
  }
}
