@use "../../../../../style//utilities/utilities.scss" as *;
.label {
  background-color: rgba(40, 142, 225, 0.759);
  border-radius: 8px;
  padding: 0 0.1rem;
  color: rgb(15, 2, 2);
  font-size: 0.9rem;
}

.selected {
  margin-top: 0.8rem;
}
.input {
  border-radius: 8px;
}
.remove {
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  padding-left: 0.4rem;
  font-size: 1.2rem;
  border: none;
  color: white;
}
.suggestion {
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 0.1rem;
  background-color: rgb(200, 216, 231);
  @include flex-dir(null, null, column);
}
.activeSuggestion {
  border-radius: 8px;
  background-color: rgba(25, 152, 255, 0.759);
}
.tagInputField {
  background-color: red;
}
