@use "../../style/utilities/utilities.scss" as *;
.page_container {
  margin-top: 0.2rem;
  background-color: initial;
  width: 95%;

  .page_header {
    width: 100%;
    @include flex-dir(space-between, center);
    padding: 0 2rem;
    margin-bottom: 0.5rem;

    a {
      @include button(rgb(114, 151, 224), 0.7rem, 0.5rem);
      text-decoration: none;
      color: white;
      font-size: 1rem;
      &:hover {
        background-color: #75b1dd;
      }
    }

    @include flex-dir(null, null, row);

    .dates_container {
      @include flex-dir(null, null);
      gap: 0.5rem;

      @include classMatcher("input_label") {
        max-width: 50%;
      }
    }
    @include classMatcher("selectInput_label") {
      flex: initial;
    }
  }
  .page_main_content {
    background-color: initial;
    position: relative;
    height: 84%;

    p[class*="message_spinner"],
    p[class*="loading_spinner"] {
      position: absolute;
      font-size: 1.7rem;
      display: inline;
      @include centerAbs();
      @include posAbs(35% !important);
    }
  }
}

@include smartphone() {
  .page_container {
    margin-top: 0rem;
    width: 96%;
    .page_header {
      padding: 0 0rem;
      span[class*="auto"] {
        max-width: 58%;
        label {
          font-size: 1.15rem;
        }
      }
      a {
        font-size: 0.69rem;
      }

      .dates_container {
        padding: 0rem 0.5rem;
        max-width: 100%;
        @include flex-dir(null, null, column);

        width: 100%;
        @include classMatcher("input_label") {
          max-width: initial;

          input {
            width: 100%;
          }
        }
      }
      @include classMatcher("selectInput_label") {
        max-width: initial;
        label {
          display: none;
        }
      }
    }
    .page_main_content {
      background-color: initial;
      position: relative;
      height: 100%;

      p[class*="message_spinner"] {
        width: 100%;
        text-align: center;
        position: absolute;
        font-size: 1.5rem;
        display: inline;
        @include centerAbs();
        @include posAbs(30% !important);
      }
    }
  }
}
