@use "./../../../../../style/utilities/utilities.scss" as *;
.notification_li {
  @include flex-dir(0, flex-start, row);
  min-width: 25rem;
  padding: 1rem;
  h3 {
    text-decoration: underline;
  }
}
