@use "../../../../style/utilities/utilities.scss" as *;
.list_container {
  padding: 1rem;
  position: relative;
  height: 100%;
  @include flex-dir(null, null, column);
  @include classMatcher("message_spinner") {
    @include centerAbs();
    text-align: center;
    width: 100%;
  }

  h2 {
    margin-bottom: 0.2rem;
    padding-left: 0.8rem;
    font-weight: 400;
  }
  .list_content {
    @include flex-dir(space-between, null, column);
    height: 100%;
    .list {
      @include flex-dir(null, null, column);
      overflow-y: auto;
      gap: 0.3rem;

      & li:nth-child(2n) {
        background-color: rgb(220, 227, 252);
      }
      li {
        @include flex-dir(space-around, null);

        padding: 0.1rem 0.5rem;
        .list_detail {
          width: 10rem;
          text-align: center;
          @include flex-dir(space-between, center, column);
          gap: 0.1rem;
          :first-child {
            font-weight: 500;
            font-size: 1.1rem;
          }
          :nth-child(2) {
            font-size: 1rem;
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
    .list_page_link {
      justify-self: end;
      margin-top: 0.1rem;
      text-align: center;
      font-size: 1rem;
    }
  }
}

@include smartphone() {
  .list_container {
    @include flex-dir(null, null, column);
    @include classMatcher("message_spinner") {
      @include centerAbs();
      p {
        text-align: center !important;
        width: 100% !important;
      }
    }
    h2 {
      font-weight: 500;
      margin-top: 0.5rem;
      font-size: 1.4rem;
      text-align: center;
    }
    .list_content {
      .list {
        overflow-y: hidden;
        @include flex-dir(null, null, column);

        gap: 0.8rem;

        & li:nth-child(2n) {
          background-color: rgb(220, 227, 252);
        }
        .list_li {
          @include flex-dir(space-around, null, row);
          gap: 0.2rem;
          padding: 0.1rem 0.2rem;
          .list_detail {
            width: inherit;
            @include flex-dir(null, center, column);

            gap: 0.2rem;
            :first-child {
              font-size: 0.9rem;
            }
            :nth-child(2) {
              font-size: 0.8rem;
            }
          }
        }
      }
      .list_page_link {
        margin-top: 0.8rem;
        font-size: 1.1rem;
      }
    }
  }
}
