@use "../../../style/utilities/utilities.scss" as *;

.chart_exercise {
  padding: 0.5rem;
  margin-top: 0.5rem;
  height: 100%;
}

@include smartphone() {
  .chart_exercise {
    padding: 0.5rem;
    margin-top: 0.5rem;
    width: 102% !important;
    max-height: 75% !important;
  }
}
