@use "../../../style/utilities/utilities.scss" as *;
.card_exercise_container {
  height: 100%;
}
.chart_exercise {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

@include smartphone() {
  .card_exercise_container {
    max-height: 60vh;
    margin-top: 1rem;
    .chart_exercise {
    }
  }
}
