@use "../../../style/utilities/utilities.scss" as *;

.chart_exercise {
  padding: 1rem;
  margin-top: 1rem;
  // width: 95% !important;
  // height: 75% !important;
}

@include smartphone() {
  .chart_exercise {
    padding: 0.5rem;
    margin-top: 1rem;
    width: 95% !important;
    height: 75% !important;
  }
}
