@use "../../../../style/utilities/utilities.scss" as *;

.trainee_profile_page_container {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 0.5rem;
  width: 100%;
}

.calories_chart_grid_item {
  grid-area: 1 / 1 / 2 / 3;
}
.programs_grid_item {
  grid-area: 1 / 3 / 2 / 7;
}
.user_details_grid_item {
  grid-area: 1 /7/ 2 /9;
}
.progress_chart_grid_item {
  grid-area: 2 / 1/ 7 / 6;
}
.subscription_plans_grid_item {
  grid-area: 2/ 6/ 7 / 9;
}

@include smartphone() {
  %shared {
    height: fit-content;
    min-height: fit-content;
  }
  .trainee_profile_page_container {
    padding: 0.5rem 1rem;
    width: 100%;
    @include flex-dir(null, null, column);
  }

  .user_details_grid_item {
    order: 1;
  }
  .subscription_plans_grid_item {
    order: 4;
    // @extend %shared;
  }
  .programs_grid_item {
    order: 2;
    min-height: fit-content;
  }

  .calories_chart_grid_item {
    order: 3;
    min-height: 20rem;
  }

  .progress_chart_grid_item {
    display: none;
    order: 5;
  }
}
