@use "../../../../style/utilities/utilities.scss" as *;

.trainee_profile_page {
  height: 80vh;
  overflow-y: scroll;
  width: 100%;
  .trainee_profile_page_container {
    $GRID_ROW: 6;
    $ROW_HEIGHT: 32vh;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat((6, 1fr));
    padding: 0.5rem 1rem;
    width: 100%;
    height: calc($GRID_ROW * $ROW_HEIGHT);

    .programs_grid_item {
      grid-area: 1 / 1 / 2 / 7;
    }
    .user_details_grid_item {
      grid-area: 1 /7/ 2 /9;
    }
    .calories_chart_grid_item {
      grid-area: 2 / 1 /4 / 4;
    }

    .subscription_plans_grid_item {
      grid-area: 2 /4/ 4 / 9;
    }

    .progress_chart_grid_item {
      grid-area: 4/ 1/ 7/ 9;
    }
  }
}

@include smartphone() {
  %shared {
    min-height: 20rem;
  }
  .trainee_profile_page {
    overflow: scroll;
    height: 100%;
    width: 100%;

    .trainee_profile_page_container {
      height: 100%;
      padding: 0.5rem;
      overflow: hidden;
      @include flex-dir(null, null, column);
    }

    .user_details_grid_item {
      order: 1;
    }
    .subscription_plans_grid_item {
      order: 4;
      @extend %shared;
    }
    .programs_grid_item {
      order: 2;
      @extend %shared;
    }

    .calories_chart_grid_item {
      order: 3;
      @extend %shared;
    }

    .progress_chart_grid_item {
      height: 30vh;
      order: 5;
      @extend %shared;
    }
  }
}
