@use "../../../style/utilities/utilities.scss" as *;

.stats_page {
  height: 80vh;
  overflow-y: scroll;
  width: 100%;
  .stats_page_header_filters {
    padding-left: 1rem;
    .dates_container {
      @include flex-dir(null, null, row);
      gap: 0.5rem;
      @include classMatcher("InputLabel") {
        flex: initial;
        input {
          min-width: 5rem;
        }
      }
    }
  }
  .stats_page_container {
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    $GRID_ROW: 3;
    $ROW_HEIGHT: 35vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 120vh;

    .distribution_card_container {
      grid-area: 1 / auto / 3 / auto;
    }
    .graph_card_container {
      grid-area: 3 / 1/6 / 5;
      padding: 0.5rem;
    }
  }
}

@include smartphone() {
  ::-webkit-scrollbar {
    display: none;
  }
  .stats_page {
    height: 100%;
    width: 98%;

    .stats_page_header_filters {
      padding-left: 0rem;
      padding: 0.5rem;
      .dates_container {
        @include flex-dir(null, null, column);

        gap: 0.5rem;
        @include classMatcher("InputLabel") {
          flex: initial;
          max-width: 100%;
          input {
            min-width: 100%;
          }
        }
      }
    }
    .stats_page_container {
      padding: 1rem;
      gap: 1rem;
      width: 100%;

      display: flex;
      @include flex-dir(null, null, column);

      .distribution_card_container {
        min-height: 18rem;
      }

      .finances_pie_chart_card {
        position: relative;
        width: 100%;
        @include classMatcher("selectInput") {
          @include posAbs(0%, null, 0%, null);
        }
      }
      .graph_card_container {
        min-height: 30rem;
        // height: fit-content;
      }
    }
  }
}
