@use "../../../../style/utilities/utilities.scss" as *;

.nutrition_questionnaire_form_container {
  .edit_icon {
    a {
      font-size: 1.2rem;
    }
    @include posAbs(30%, null, 0%, null);
  }
  @include classMatcher("textarea") {
    textarea {
      &:disabled {
        background-color: rgb(225, 232, 245);
      }
      height: 5rem;
    }
  }
}
