@use "../../../../style/utilities/utilities.scss" as *;

.nutrition_questionnaire_form_container {
  .reset_button {
    @include posAbs(0%, null, 0%, null);
    color: #4679dc;
    font-size: 2rem;
    cursor: pointer;
  }
  .time_activity {
    width: 100%;
    @include flex-dir(null, null);
    gap: 0.5rem;
    @include classMatcher("input_label") {
      @include initialWidth();
    }
    .inputs_group {
      @include classMatcher("layout") {
      }
    }
  }
}
@include smartphone() {
  .nutrition_questionnaire_form_container {
    .time_activity {
      @include flex-dir(null, null, column);
      label {
        max-width: 100%;
        input {
          min-width: 100%;
        }
      }
    }
    .inputs_group {
      @include classMatcher("layout") {
        @include classMatcher("input_label") {
          @include initialWidth();
          flex: 25%;
        }
      }
    }
  }
}
