@use "../../../../style/utilities/utilities.scss" as *;

.meeting_model_container {
  padding: 0.8rem;
  border-radius: 10px;
  @include flex-dir(center, null);
  @include classMatcher("Form_form_container") {
    width: 85%;
    form {
      width: 100%;
      flex-flow: column;
      align-items: initial;
      gap: 0.7rem;

      @include classMatcher("dates_meeting_model_form_container") {
        width: 100%;
        @include flex-dir(null, null, row);
        column-gap: 0.5rem;
        @include classMatcher("input_label") {
          max-width: 49%;
        }
      }
      @include classMatcher("autocomplete_meeting_model_form_container") {
        @include flex-dir(null, null, row);
        column-gap: 0.5rem;
        @include classMatcher("AutocompleteInput_autocomplete_container") {
          max-width: 49%;
        }
      }

      @include classMatcher(
        "participants_groups_meeting_model_form_container"
      ) {
        width: 100%;
        @include flex-dir(null, center, column);
        @include classMatcher("AutocompleteInput_autocomplete_container") {
          max-width: 100%;
          width: 100%;
        }
      }
      @include classMatcher("Form_buttons_container_one_button") {
        button {
          width: 80%;
        }
      }
      @include classMatcher("title") {
        max-width: 100% !important;
        input {
          min-width: 100%;
        }
      }
      @include classMatcher("Form_buttons_container_one_button") {
        button {
          width: 60%;
        }
      }
    }
  }
}

@include smartphone() {
  @include classMatcher("Card_card_container") {
    &:has(.meeting_model_container) {
      top: 57% !important;
      padding: 0.2rem;
    }
  }

  .meeting_model_container {
    padding: 0.4rem;
    @include classMatcher("Form_form_container") {
      margin-top: 0;
      min-height: fit-content;
      width: 100%;
      form {
        padding: 0;
        gap: 0.2rem;
        flex-flow: column;
        align-items: initial;
        @include classMatcher("dates_meeting_model_form_container") {
          width: 100%;
          @include flex-dir(null, null, column);
          column-gap: 0.5rem;
          @include classMatcher("input_label") {
            max-width: 100%;
            input {
              width: 100%;
            }
          }
        }
        // @include classMatcher("")
        textarea {
          height: 4rem;
        }
        @include classMatcher("autocomplete_meeting_model_form_container") {
          @include flex-dir(null, null, column);
          column-gap: 0.5rem;
          @include classMatcher("AutocompleteInput_autocomplete_container") {
            max-width: 100%;
            ul {
              max-width: 100%;
            }
          }
        }
      }
    }
    @include classMatcher("Form_buttons_container_one_button") {
      button {
        width: 100%;
      }
    }
  }
}
