@use "../../../style/utilities/utilities.scss" as *;
.home_page_container {
  @include flex-dir(center, center);
  height: 100vh;

  .home_page_text {
    position: absolute;
    z-index: 1;
    text-align: center;
    h1 {
      color: white;
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    a {
      @include button(white, 0.5rem, 1rem);
      color: black;
      font-size: 1.5rem;
      text-decoration: none;
      &:hover {
        background-color: rgb(208, 203, 203);
      }
    }
  }
}

@include smartphone() {
  .home_page_container {
    @include flex-dir(center, center);
    height: 100vh;

    .home_page_text {
      h1 {
        margin-bottom: 1.5rem;
      }
      a {
        font-size: 1.5rem;
      }
    }
  }
}
