@use "../../../../../style/utilities/utilities.scss" as *;

.food_list_form_container {
  height: 50vh;
  @include classMatcher("autocomplete_container") {
    li {
    }
    input {
      text-align: center;
    }
  }
  .chosen_food_list {
    height: 30vh;
    overflow-y: scroll;
  }
  @include classMatcher("Form_buttons_container_two_buttons") {
    margin-top: auto !important;
  }
}
