@use "../../../../../style/utilities/utilities.scss" as *;
.subscription_plans_container {
  position: relative;
  .plus_button_icon {
    z-index: 50;
    @include posAbs(3%, null, 1%, null);
    @include heightWidth(2.5rem, 2.5rem);
    color: rgb(127 165 241);
    cursor: pointer;
    svg {
      width: 1.5rem !important;
      height: 2rem;
    }
  }

  @include classMatcher("list_detail") {
    text-align: center;
  }
}

@include smartphone() {
  .subscription_plans_container {
    h2 {
      margin-top: 0rem;
    }
    li {
      gap: 0rem 0.8rem;
    }
  }
  @include classMatcher("message_spinner") {
    font-size: 1.2rem;
  }
}
