@use "../../../../../style/utilities/utilities.scss" as *;
.subscription_plans_container {
  position: relative;
  .plus_button_icon {
    @include posAbs(4%, null, 5%, null);
    @include heightWidth(1.5rem, 1.5rem);
    color: rgb(127 165 241);
  }
  @include classMatcher("message_spinner") {
    @include centerAbs();
    text-align: center;
    width: 100%;
  }
  @include classMatcher("list_detail") {
    text-align: center;
  }
}
