@use "../../../../../../style/utilities/utilities.scss" as *;

@include classMatcher("ModelCard_model_card") {
  &:has(.foods_filters_form_container) {
    min-width: 30rem;
  }
}
.foods_filters_form_container {
  gap: 0.1rem !important;
  position: relative;
  %shared {
    @include classMatcher("GroupInputs_group_inputs_layout") {
      justify-content: center;
    }
  }

  .nutrient_type_radio_buttons {
    @extend %shared;
    @include classMatcher("input_label") {
      gap: 0.2rem;
    }
  }
  .foods_rules_checkboxes {
    @extend %shared;
    @include classMatcher("input_label") {
      gap: 0.2rem;
    }
  }
  .reset_button {
    @include posAbs(0%, null, 0%, null);
    color: #4679dc;
    font-size: 2rem;
    cursor: pointer;
  }
}

@include smartphone() {
  @include classMatcher("ModelCard_model_card") {
    &:has(.foods_filters_form_container) {
      min-width: 22rem;
    }
  }
  .foods_filters_form_container {
    gap: 0.2rem !important;

    form.form_layout {
      gap: 0.5rem;
    }
  }
}
