@use "../../../../../style//utilities/utilities.scss" as *;
button {
  background: none;
  border: none;
}
.select_plus_button {
  @include posAbs(50%, null, 0%, null);
  margin-bottom: 0rem;

  svg {
    font-size: 1.6rem;
    color: #4679dc;
  }
}
@include smartphone() {
  .select_plus_button {
    @include posAbs(50%, null, 0%, null);
  }
}
