@use "../../../../style/utilities/utilities.scss" as *;
.form_card_model_container {
  padding: 0.8rem;
  border-radius: 10px;
  @include classMatcher("Form_form_container") {
    form {
      width: 95%;
      flex-flow: column;
      align-items: initial;
      gap: 0.5rem;

      @include classMatcher("dates_form_model_container") {
        width: 100%;
        @include flex-dir(null, null, row);
        column-gap: 0.5rem;
        @include classMatcher("input_label") {
          max-width: 50%;
        }
      }
      @include classMatcher("autocomplete_form_model_container") {
        @include flex-dir(null, null, row);
        column-gap: 0.5rem;
        @include classMatcher("AutocompleteInput_autocomplete_container") {
          max-width: 50%;
        }
      }

      @include classMatcher("participants_groups_form_model_container") {
        width: 100%;
        @include flex-dir(null, center, column);
        @include classMatcher("AutocompleteInput_autocomplete_container") {
          max-width: 100%;
          width: 100%;
        }
      }
      @include classMatcher("Form_buttons_container_one_button") {
        button {
          width: 80%;
        }
      }
      @include classMatcher("title") {
        max-width: 50%;
        input {
          min-width: 100%;
        }
      }
    }
  }
}

@include smartphone() {
  .form_card_model_container {
    @include classMatcher("Form_form_container") {
      min-height: fit-content;
      form {
        width: 95%;
        flex-flow: column;
        align-items: initial;
        @include classMatcher("dates_form_model_container") {
          width: 100%;
          @include flex-dir(null, null, column);
          column-gap: 0.5rem;
          @include classMatcher("input_label") {
            max-width: 100%;
            input {
              width: 100%;
            }
          }
        }
        @include classMatcher("autocomplete_form_model_container") {
          @include flex-dir(null, null, column);
          column-gap: 0.5rem;
          @include classMatcher("AutocompleteInput_autocomplete_container") {
            max-width: 100%;
            ul {
              max-width: 100%;
            }
          }
        }
        @include classMatcher("ReactTags__tags react-tags-wrapper") {
          width: 100%;
          @include classMatcher("ReactTags__tagInputField") {
            width: 100%;
          }
        }
      }
      @include classMatcher("title") {
        input {
          min-width: 100%;
        }
      }
    }
    @include classMatcher("Form_buttons_container_one_button") {
      button {
        width: 100%;
      }
    }
  }
}
