@use "../../../style/utilities/utilities.scss" as *;
.schedule_page {
  ::-webkit-scrollbar {
    display: none;
    border-radius: 5px;
    height: 0.5rem;
    width: 0rem !important;
  }
  table {
    th {
      z-index: 50;
    }
    td {
      i {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  @include classMatcher("fc-daygrid-event-harness") {
    background-color: rgb(55, 136, 216);
    color: white;
    border-radius: 8px;
  }

  // For displaying events
  .event_container {
    font-size: 0.7rem;
    // margin-top: 0rem;
    width: 100%;
    cursor: pointer;
    position: relative;

    .deleteIcon {
      font-size: 1rem;
      cursor: pointer;
      color: rgb(217, 17, 17);
      @include posAbs(0.5%, null, 1%, null);
      z-index: 200;
    }
  }

  // for dayGridMonth display
  &:has([class*="fc-daygrid fc-dayGridMonth-view fc-view"]) {
    .event_container {
      .date_data {
        @include flex-dir(null, null, column);
      }

      .deleteIcon {
        @include posAbs(2%, null, 2%, null);
      }
    }
  }

  // For the container of the header.
  @include classMatcher("fc-header-toolbar fc-toolbar ") {
    margin-bottom: 0.5rem !important;
    padding: 0 0.5rem;
    // For focus on arrow buttons.
    @include classMatcher("fc-button-primary") {
      &:focus,
      &:active {
        outline: 1px;
        box-shadow: 0 0 0 0.2rem rgb(44 62 80 / 0%) !important;
      }
    }
  }
  //For the main content of the table
  @include classMatcher("fc-scroller fc-scroller-liquid-absolute") {
    overflow-y: hidden;
    height: 80%;
    // For selection number of cells
    @include classMatcher("fc-highlight") {
      background-color: rgba(12, 131, 155, 0.3);
    }
  }
  // for timeGridDay-view color td
  @include classMatcher("fc-timegrid fc-timeGridDay-view fc-view") {
    padding: 0 0.5rem;
    table {
      height: 100%;
      th {
        width: 100%;
      }
      td {
        height: 3rem;
      }

      @include classMatcher("fc-timegrid-event") {
        height: fit-content; // For displaying customize events
        .event_container {
          margin-top: 0;
          .date_data {
            @include flex-dir(center, null, row);
            gap: 0.2rem;
            font-size: 1rem;
          }
          .deleteIcon {
            @include posAbs(0.5%, null, 1%, null);
          }
        }
      }
    }
    // Change the color of the td to weight.
    @include classMatcher("fc-timegrid-slot fc-timegrid-slot-lane ") {
      background-color: white;
    }
    @include classMatcher(
      "fc-timegrid-slot fc-timegrid-slot-lane fc-timegrid-slot-minor"
    ) {
      background-color: rgb(220, 227, 252);
    }

    @include classMatcher("fc-daygrid-day-frame fc-scrollgrid-sync-inner") {
      background-color: rgb(220, 227, 252);
    }
  }

  .float_add_meeting_button {
    @include heightWidth(3.5rem, 3.5rem);
    border-radius: 50%;
    background-color: white;
    @include posAbs(null, null, 4%, 2%);
    position: fixed;
    z-index: 75;
    color: rgb(62, 108, 194);
    cursor: pointer;
    :hover {
      color: rgb(80, 127, 212);
    }
  }
}

@include smartphone() {
  .schedule_page {
    width: 100%;
    overflow-y: hidden;
    table {
      width: 95%;
      th {
        height: 2rem;
        width: 1.2rem;
        font-size: 1.2rem;
        text-align: center;
      }
    }
    //The main content of table
    @include classMatcher("fc-scroller fc-scroller-liquid-absolute") {
      height: 100%;
    }
    // The whole calender.
    @include classMatcher(
      "fc fc-media-screen fc-direction-ltr fc-theme-standard"
    ) {
      height: 100%;

      // for dayGridMonth display
      @include classMatcher("fc-daygrid fc-dayGridMonth-view fc-view") {
        overflow-y: hidden;
        table {
          th {
            width: 3rem;
          }
        }
        .event_container {
          height: 2rem;
          font-size: 0.7rem;

          .deleteIcon {
            @include posAbs(0%, null, 3%, null);
          }
        }
        //The main content of table
        @include classMatcher("fc-scroller fc-scroller-liquid-absolute") {
          height: 100%;
          overflow-y: hidden !important;
        }
      }

      // For the container of the header.
      @include classMatcher("fc-header-toolbar fc-toolbar ") {
        padding: 0;
        margin-bottom: 0.5rem;
        @include flex-dir(null, null, column);
        // For the container of the header buttons.
        @include classMatcher("fc-toolbar-chunk") {
          margin-top: 0.2rem;
          width: 100%;
          padding: 0 1rem;
          @include flex-dir(space-between, null, row);
        }
        // For the arrow buttons.
        @include classMatcher("fc-button-group") {
          width: 5rem;
          margin-left: 0rem;
        }
      }
    }

    // for timeGridDay-view color td
    @include classMatcher("fc-timegrid fc-timeGridDay-view fc-view") {
      table {
        height: 100%;

        td {
          height: 2rem;
        }

        @include classMatcher("fc-timegrid-event") {
          height: fit-content; // For displaying customize events
          .event_container {
            .date_data {
              font-size: 0.7rem;
            }
            .deleteIcon {
              @include posAbs(0.5%, null, 1%, null);
            }
          }
        }
      }
    }
    .float_add_meeting_button {
      @include heightWidth(3.5rem, 3.5rem);
      border-radius: 50%;
      background-color: white;
      @include posAbs(null, null, 4%, 2%);
      position: fixed;

      cursor: pointer;
    }
  }
}
